name: actions
on:
  workflow_dispatch:
env:
  WORKFLOW: actions

jobs:
  job-1:
    runs-on: ubuntu-24.04
    environment: test
    env:
      X: y
    outputs:
      X: ${{ steps.generate-X.outputs.X }}
    steps:
      - name: test job-1
        id: generate-X
        run: |
          X=hey!

          echo "X=${X}" >> "$GITHUB_OUTPUT"
          echo "Y=${X}" >> "$GITHUB_ENV"

  job-2:
    runs-on: ubuntu-24.04
    needs: job-1
    environment: test
    env:
      A: b
    steps:
      - name: test job-2
        run: |
          echo "X: ${X}"
          echo "Y: ${Y}"
