name: Hello World

on:
  workflow_dispatch:
  pull_request:
    branches:
      - "main"
jobs:
  say-hello-inline-bash:
    runs-on: ubuntu-24.04
    steps:
      - run: echo "Hello from an inline bash script in a GitHub Action Workflow!"
  say-hello-inline-python:
    runs-on: ubuntu-24.04
    steps:
      - run: print("Hello world")
        shell: python
    needs:
    - say-hello-inline-bash
