name: My Workflow

on:
    workflow_dispatch:

jobs:
    say_my_word:
        runs-on: ubuntu-24.04
        steps:
            - run: echo "Go to Surfing"
    say-surf-in-python:
        runs-on: ubuntu-24.04
        steps:
            - run: print("Hello Surfing")
              shell: python
    say-surf-in-pwsh:
        runs-on: windows-latest
        steps:
            - run: Write-Host 'say-surf-in-pwsh'
